body {
  background-color: #101820FF;
  color: #F2AA4CFF;
  font-family: 'Roboto', sans-serif;
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clock {
  font-size: 220px;
  padding: 20px 50px;
  margin-top: 10px;
  text-align: center;
  background-color: #101820FF;
  border: solid #F2AA4CFF 2px;

  
}
#banner{
    text-align: center;
    padding-top: 25px;
    

    
}
